@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import './background', './card', './planets', './select', './config';


body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;

  &__selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }
}

label {
  font-size: 2rem;
  color: $primary-color;
}

button {
  color: $primary-color;
  cursor: pointer;
  font-size: 1.5rem;
  width: 15rem;
  padding: 0.4rem;
  border: none;
  border-radius: .8rem;
  background-color: $secondary-color;
  background-image: $btn-gradient;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0%;
  transition: background-size .3s;
  text-shadow: 0px 0px 2px $primary-color;
    
    &:active {
      transform: translateY(2px);
  }
    
    &:hover {
      background-size: 100%;
      box-shadow: 0px 0px 5px $cards-color;
  }
}
